<div style="text-align:center">
  <h1>
    Bienvenido al Juego del Ahorcado
  </h1>

  <div *ngIf="!juegoIniciado">
    <h2>Selecciona una dificultad o ingresa una palabra:</h2>
    <select [(ngModel)]="dificultad" [disabled]="palabraIngresada !== ''">
      <option value="" disabled selected>Selecciona una dificultad</option>
      <option value="facil">Fácil</option>
      <option value="intermedio">Intermedio</option>
      <option value="dificil">Difícil</option>
    </select>
    <input [(ngModel)]="palabraIngresada" placeholder="Palabra para iniciar (opcional)" [disabled]="dificultad !== ''"/>
    <button (click)="iniciarJuego()">Iniciar Juego</button>
  </div>

  <div *ngIf="juegoIniciado">
    <div>
      <input [(ngModel)]="letra" placeholder="Arriesgar Letra" />
      <button (click)="arriesgarLetra()">Arriesgar Letra</button>
    </div>

    <div>
      <input [(ngModel)]="palabraIngresada" placeholder="Arriesgar Palabra" />
      <button (click)="arriesgarPalabra()">Arriesgar Palabra</button>
    </div>
  </div>

  <div *ngIf="juegoIniciado">
    <button (click)="getVidas()">Consultar Vidas</button>
    <button (click)="getEstado()">Consultar Estado</button>
    <button (click)="getPuntuacion()">Consultar Puntuación</button>
  </div>

  <p>{{ mensaje }}</p>
  <p>Estado: {{ estado }}</p>
  <p>Vidas restantes: {{ vidas }}</p>
  <p>Puntuación: {{ puntuacion }}</p>
</div>
